<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/bootstrap-responsive.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="shortcut icon" href="/img/favicon.ico"/>
  <!-- site validation -->
  <meta name="google-site-verification" content="mxy7CvsOzE0XBT4d5sYFAXyKFHYFkeiUXT-BJ05bhD8" />
  <meta name="google-site-verification" content="google-site-verification=mxy7CvsOzE0XBT4d5sYFAXyKFHYFkeiUXT-BJ05bhD8" />
  <meta name="msvalidate.01" content="079E754911917142D42AB2A3694F9267" />
  <!-- site scripting -->
  <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <!-- rel tags -->
  <link rel='next' title='Partners' href="/products/overview/" />
  <link rel='shortlink' href='http://opdemand.com/?p=6' />
  <!-- seo/meta -->
  <meta name="description" content="{{ page.description }}" />
  <meta name="keywords" content="paas, open source paas, private paas, enterprise paas, docker, coreos, heroku, deis, opdemand, application platform, cloud, devops" />
  <!-- google analytics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22836763-2']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_setDomainName', 'opdemand.com']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <!-- all in one seo pack -->
  <link rel="canonical" href="http://opdemand.com/" />
      <script type="text/javascript">
      function recordOutboundLink(link, category, action) {
            _gat._getTrackerByName()._trackEvent(category, action);
            if ( link.target == '_blank' ) return true;
        setTimeout('document.location = "' + link.href + '"', 100);
        return false;
      }
        /* use regular Javascript for this */
        function getAttr(ele, attr) {
          var result = (ele.getAttribute && ele.getAttribute(attr)) || null;
          if( !result ) {
            var attrs = ele.attributes;
            var length = attrs.length;
            for(var i = 0; i < length; i++)
            if(attr[i].nodeName === attr) result = attr[i].nodeValue;
          }
          return result;
        }
        function aiosp_addLoadEvent(func) {
          var oldonload = window.onload;
          if (typeof window.onload != 'function') {
            window.onload = func;
          } else {
            window.onload = function() {
              if (oldonload) {
                oldonload();
              }
              func();
            }
          }
        }
        aiosp_addLoadEvent(function () {
          var links = document.getElementsByTagName('a');
          for (var x=0; x < links.length; x++) {
            if (typeof links[x] == 'undefined') continue;
            if (typeof links[x].onclick != 'undefined') continue;
            links[x].onclick = function () {
              var mydomain = new RegExp(document.domain, 'i');
              href = getAttr(this, 'href');
              if(href && href.toLowerCase().indexOf('http') === 0 && !mydomain.test(href)) {
                recordOutboundLink(this, 'Outbound Links', href);
              }
            }
          }
        });
      </script>
<!-- /all in one seo pack -->
</head>
<body {% if page.url == '/index.html' %}style="background-image:url(../img/bg-mountain.jpg)"{% endif %}>
  <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->
  <div class="container">
      <div class="main_section">
          <div class="header">
              <div class="header_content">
                  <a class="header_image" href="/"><img src="/img/main_logo.png" alt="OpDemand Logo"></a>
                  
                  <div class="header_menu">
                      <div style="float:left; position:relative; margin-right:30px;">
                      <a class="hover-trigger{% if page.url contains '/products/' %} selected{% endif %}" href="/products/">Products </a>
                          <div class="menu-hover" style="visibility:hidden">
                              <div class="arrow-up"></div>
                              <a class="overview{% if page.url == '/products/index.html' %} selected{% endif %}" href="/products/">Overview</a>
                              <a class="{% if page.url == '/products/starter/index.html' %} selected{% endif %}" href="/products/starter/">Starter</a>
                              <a class="{% if page.url == '/products/pro/index.html' %} selected{% endif %}" href="/products/pro/">Pro</a>
                              <a class="{% if page.url == '/products/enterprise/index.html' %} selected{% endif %}" href="/products/enterprise/">Enterprise</a>
                          </div>
                      </div>
                      <a class="no-hover{% if page.url contains '/services/' %} selected{% endif %}" href="/services/">Services</a>
                      <a class="no-hover{% if page.url == '/partners/index.html' %} selected{% endif %}" href="/partners/">Partners</a>
                  </div>
                  <a class="header_button" href="/deis/">Get<img class="get_deis_button" src="/img/deis_button_logo.png" alt="Deis Logo"></a>
              </div>
              <div style="clear:both;"></div>
          </div>

  {{ content }}

  <footer class="container">
    <div class="footer_content">
      <div class="col-copyright">
        <a href="http://opdemand.com"><img class="footer-cloud-logo" src="/img/small-cloud.png" alt="OpDemand Cloud Logo"></a>
        <p>&copy; Copyright 2014</p>
        <!-- <p><a>– Terms of Service</a></p> -->
        <p><a href="/privacy-policy/">– Privacy Policy</a></p>
      </div>
      <div class="col-social-buttons">
        <a href="https://twitter.com/opendeis" target="_blank" class="twitter"></a>
        <a href="https://botbot.me/freenode/deis/" class="irc" target="_blank"></a>
        <a href="https://github.com/deis/deis" class="github" target="_blank"></a>
        <a href="https://stackoverflow.com/questions/tagged/deis?sort=active" class="stack" target="_blank"></a>
      </div>
      <a class="col-mail-button" href="mailto:info@opdemand.com">info@opdemand.com</a>
    </div>
  </footer>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
  <script src="/js/preload-image.js"></script>
  <script src="/js/vendor/bootstrap.min.js"></script>
  <script src="/js/plugins.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/slider.js"></script>
  <!-- Contact Form Plugin <script type='text/javascript' src='http://opdemand.com/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.46.0-2013.11.21'></script>
  <script type='text/javascript'>
  /* <![CDATA[ */
  var _wpcf7 = {"loaderUrl":"http:\/\/opdemand.com\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ...","cached":"1"};
  /* ]]> */
  </script>
  <script type='text/javascript' src='http://opdemand.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=3.6'></script> -->
</body>
</html>

